.module-icon {
    display: inline-block;
    padding: 30px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
}

.module-icon .icon {
    font-size: 100px;
}

.module-icon .module-name {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.module-icon:hover {
    color: #0068a0;
    text-decoration: none;
}