.table .buttons .btn {
    width: 111px;
}

.table td {
    vertical-align: middle;
}

.drag-handle {
    cursor: pointer;
    font-size: 22px;
}

.helper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}