.react-datepicker-wrapper, .react-datepicker__input-container {
    display: block;
}

.react-datepicker__time-list {
    padding: 0 !important;
    height: calc(195px + (1.7rem / 2)) !important;
    overflow: hidden;
}

.react-datepicker__time-list-item {
    font-size: 11px;
    padding: 7px 5px !important;
    width: calc(100% - 1px);
}