.field-multi-values {
    list-style: none;
    padding: 0;
    margin: 15px 0;

    display: block;
    max-height: 275px;
    overflow-y: auto;
}

.field-multi-values-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    z-index: 9999999;
}

.field-multi-values-row:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.field-multi-values-row .item-thumb {
    width: 60px;
    height: 45px;
}

.field-multi-values-row .item-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.field-multi-values-row .item-name {
    flex-grow: 1;
    padding: 5px 15px;
}

.field-multi-values-row .btns {
    display: flex;
}

.field-multi-values-row .btns .drag-handle {
    font-size: 13px;
    padding: 15px 20px;
}