.module-icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

@media screen and (max-width: 900px) {
    .module-icon-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .module-icon-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .module-icon-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.module-icon {
    padding: 30px;
    text-align: center;
    text-decoration: none;
}

.module-icon .icon {
    font-size: 100px;
}

.module-icon .module-name {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.module-icon:hover {
    color: #0068a0;
    text-decoration: none;
}