.media-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.media-grid > div {
    max-height: 250px;
}

.media-grid .file-drop-zone {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    border: 2px dashed #5c5c5c;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 140px;
}

.media-module .media-grid {
    max-height: none;
}

.media-grid .media-item {
    position: relative;
    padding-top: 100%;
    cursor: pointer;
}

.media-grid .media-item.non-image {
    background-color: #eee;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 11px;
}
.media-grid .media-item.non-image .icon {
    font-size: 30px;
}

.media-module {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: calc(100% - 32px);
    left: 0;
    top: 32px;
}

.media-module .media-browser {
    background-color: #fff;
    width: 100%;
}

.media-module .media-filters {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0 15px;
}

.media-module .media-grid {
    height: calc(100% - 73px);
    padding: 20px 15px;
    /* background-color: #eee; */
}

.media-module .media-inspector {
    width: 350px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.media-module .media-inspector {
    justify-content: space-between;
    overflow-y: auto
}

.media-module .media-inspector.empty {
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.media-module .media-inspector img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.media-module .media-inspector .media-info {
    flex-grow: 1;
    padding: 20px;
}

.media-module .media-inspector .media-info label {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    font-size: 10px;
    margin-top: 10px;
}

.media-module .media-inspector .delete {
    width: 100%;
}

.media-module .media-inspector .delete button {
    display: block;
    width: 100%;
}

.media-grid .media-item.selected:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 10px solid #0068a0;
}

.media-grid .media-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.media-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 -5px;
    margin-bottom: 15px;
}

.media-filters > div {
    flex-grow: 1;
    margin: 0 5px;
    z-index: 999999;
}

.edit-media-name button {
    width: 50%;
}

.edit-cursor {
    cursor: cell;
}