.media-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.media-grid .file-drop-zone {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    border: 2px dashed #5c5c5c;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 140px;
}

.media-module .media-grid {
    max-height: none;
}

.media-grid .media-item {
    position: relative;
    padding-top: 100%;
    cursor: pointer;
}

.media-module {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: calc(100% - 32px);
    left: 0;
    top: 32px;
}

.media-module .media-filters {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0 30px;
}

.media-module .media-grid {
    height: calc(100% - 73px);
    padding: 20px 30px;
    /* background-color: #eee; */
}

.media-module .media-inspector {
    flex-basis: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    text-align: center;
}

.media-grid .media-item.selected:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 10px solid #0068a0;
}

.media-grid .media-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.media-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 -5px;
    margin-bottom: 15px;
}

.media-filters > div {
    flex-grow: 1;
    margin: 0 5px;
    z-index: 999999;
}