/* .switchers {
    display: flex;
    margin: 15px -10px 30px;
}

.switchers > div {
    margin: 0 10px;
}

.sort-dropdowns {
    flex-grow: 1;
    text-align: right;
}

.sort-dropdowns label {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 1130px) {
    .switchers {
        display: block;
    }

    .sort-dropdowns {
        text-align: left;
        margin: 10px !important;
    }
} */

/* .filter-sort-search {
    flex-grow: 1;

    display: flex;
    align-items: center;
    margin: 0 -5px;
}

.filter-sort-search > div, .filter-sort-search .search-box {
    flex-grow: 1;
    margin: 0 5px;
    flex-basis: 25%;
    max-width: 300px;
} */

.search-box {
    position: relative;
}

.search-box input {
    border-radius: 25px;
    padding: .6rem 2.3rem;
}

.search-box .search-icon {
    font-size: 13px;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -8px;
    color: #aaa;
}

.search-box .clear-search {
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -13px;
    color: #aaa;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .add-new-btn {
        position: static;
        margin-bottom: 10px;
        max-width: none;
    }

    .filter-sort-search {
        flex-direction: column;
        margin: -5px 0 15px 0;
    }
    .filter-sort-search > div, .filter-sort-search .search-box {
        margin: 5px 0;
        width: 100%;
    }
}