.module {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
}

.module-left {
    width: calc(100% - 320px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.module-header {
    display: flex;
    align-items: flex-start;
    padding: 15px 25px 15px 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 0 5px #66666624;
}

.module-header h1 {
    flex-grow: 1;
    margin-bottom: 0;
}

.module-items {
    flex-grow: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: calc(100% - 66px);
    padding: 30px 25px;
    overflow-y: auto;
}

.ui.fluid.search .ui.icon.input {
    width: 100%;
}

.module-rail {
    width: 320px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    background-color: #eee;
}

.module.no-filters .module-left {
    width: 100%;
}

.module.no-filters .module-rail {
    display: none;
}

.module-rail > div {
    margin-bottom: 12px !important;
}